.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.widgetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: auto;
  height: auto; 
  background-color: white;
}

.widgetContainerMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
  height: auto; 
  background-color: white;
}